<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <ul id="triggers" class="cf">

        </ul>
        <form id="newtrigger">
            <input id="newtrigger-text" type="text" placeholder="New Trigger" />
        </form>
    </body>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
</html>
