@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/fonts/light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/normal.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/assets/fonts/bold.woff) format('woff');
}

body {
    width: 400px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;

    padding: 1em;
}

.cf {
    overflow: auto;
    zoom: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.word {
    display: flex;
    float: left;
    padding: 0.3em 0.5em;
    color: white;
    font-weight: 100;
    font-size: 1.5em;
    margin: 0.5%;
    border-radius: 5px;
    background: #3B94D9;
    width: 24%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.msg {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    color: #3B94D9;
    padding: 1em;
}

input {
    box-sizing: border-box;
    padding: 0.3em;
    font-size: 1.5em;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #3B94D9;
    color: #3B94D9;
}
